<div class="page-content">
  <div style="text-align:left">
    <h2>
      {{ title }}
    </h2>
  </div>
  <div class="row">
    <div class="card col-md-3 colcard">
      <h4>Tools</h4>
      <p>
        ONGC Videsh Ltd., India's flagship
        overseas oil investment firm, has
        dragged Sudan to an international
        arbitration court to recover over
        USD 400 million in unpaid oil dues
        pending since 2011. OVL, the overseas
        arm of state-covered Oil and Natural Gas
        Corp (ONGC), has filed an arbitration
        claim in a London Court to recover about
        USD 100 million for oil Sudan bought
        from its Greater Nile Oil Project and 
        another USD 4.94 million in unpaid
        pipeline rent lease, people familiar
        with the matter said.
      </p>
    </div>
  </div>
</div>